section {
  font-family: sans-serif;
  width: 90vw;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
}
#gameContainer {
  border: 1px solid black;
  height: 30vh;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

#gameImage {
  width: 50%;
  height: 100%;
  align-self: center;
}

#publisherLogo {
  height: 5vw;
  margin-top: 10px;
  width: 15vw;
  margin-left: 10px;
}

#additionalText {
  font-size: 0.75em;
  width: 100px;
  margin-top: 15px;
  margin-left: -25px;
  font-family: sans-serif;
}

#callToAction {
  text-align: left;
  height: 100px;
  left: 60%;
  top: 32.5%;
  font-size: 1em;
  width: 125px;
  position: fixed;
  color: black;
}

#ctaButton {
  background-color: red;
  border: 1px solid black;
  height: 35px;
  width: 100px;
  top: 45vh;
  color: white;
  position: fixed;
  left: 60vw;
  font-size: 0.75em;
}