.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
  width: 100vw;
}

.gameTracker {
  height: 8vh;
  width: 100vw;
  align-self: flex-start;
  text-align: center;
  border: 1px solid black;
  position: fixed;
  left: 0px;
  top: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gameImage {
  width: 100vw;
  height: 74vh;
  position: fixed;
  top: 16vh;
  border: 1px solid black;
  left: 0px;
  align-self: flex-start;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2vh;
  left: 0px;
  border: 1px solid black;
}

.noButton {
  position: fixed;
  width: 30vw;
  left: 10vw;
  border-radius: 5vw;
  display: flex;
  justify-content: center;
  height: 4vh;
  align-items: center;
  background-color: #FF0137;
}

.no {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAABGdBTUEAALGPC/xhBQAAAX9JREFUWAnNmFGSwiAQRPOzP+5t9QLuJfQWeil/9BKxOzosIRCYGVKVqaIAQzcvhElJhiGJcRxPKA+UC8pPctnVpd/Xl/7HVTMM+EOJ445OFyD6oNAvjnMWCCNSEBG5gWCUAxH/OdAKiAjMQBUQ8f8Aocc90hJqIJiurUg653HAL9xMrdEMBEMNCOd/EObKliKqQPDSgnD6C2EswiKQ0e9G3ZRZRoMFkNHnH0Ty3GgUgLx64Qi1w/AXWoJpItxIAEgbcLPsoZeGAmOXjyYFkb4RqJWnviICIvVGQHqQjYDsIJ2B/CCdgPqBREBMX23WPKE5iEeX2rmZ+62MEwTyKfxAsLG8AL/zLyo7UGcQIdMDbQSiBzKCMGs0UV8huFn2CI0PKKw1UQaCixVk+ofm1Yd3UC8jt4/bINzSp+Hyg3hXp4NdnZv2c6Lkk8ajKh36cWmKchomeybtQt2SpeeZDqISkBlEJqgAzUEiUQrkBom8cyuUB4lEW3+5YvZmv1y9AUvbvqg6mkWMAAAAAElFTkSuQmCC');
  width: 17.5px;
  height: 17.5px;
  background-size: 75%;
  background-repeat: no-repeat;

}

.yesButton {
  position: fixed;
  width: 30vw;
  right: 10vw;
  border-radius: 5vw;
  display: flex;
  justify-content: center;
  height: 4vh;
  align-items: center;
  background-color: #0CBC5F;
}


.yes {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAAjCAYAAAAJ+yOQAAAABGdBTUEAALGPC/xhBQAAAoRJREFUWAnNmM8rZWEch+/BFU1CDNPMNFNEFmo2NI2SSM2kZDdlocZmarY282fYioVCQ8lKyWoWshULIaNQaFKmrhm/6Xo+Zzo6jutc93rd+37rue+v877vc17nPc45TiQk4vH4C5q7oQPewmv4C1uwARMw4zjOFemdoH8OlR9BY9SCxiiBHdiGWRin/y5pasHgxTAAl5Asdjngc3AG6rpgO1ln2q9gGMqCY9xb5uAm2INUY5QOUciFwVQ7c/w+tN4r5jVwUBv8g3Rjio5j6Xam3wno0roVjleisYb8Ijzz6rKUnjJvI9fpsje/LuwIglGSH5BtQekUwDhOSt1wJcn1QsP/Kit+67H45pk4GOdSWIcqr9KSVLelKv7s51rJNhUsEfNrvKLgbiJJfvK3WJZ33STZbJmYX8d1k6SW1dZ4KTFtnDPSfFst8YpqJQ8sFoyxuy8luWKx5KrcJDltsaTrpmuyAsktKLRM9gIf3cx3cvjZpzBkmaB0RiSojPsUxGrqgXMNylVpQcRwqEPyt1x0TUYoaIf3KW9JfPcE7/iwouk8UdPNaIwFxW4eetXAVLqpz8F7lbMQS8zZxCqe+Oe+JakGRPVvcgEqVc5g/GGuBgQ3g3O616S/koP0HNcJh/76J84fMX5XIsHQeVnRD3AITx3HTNAaKhPWSOdmeMzbY7IT1Nthe5jDg9oYpAViYDp08vq6YSYY7B3oS4Wp0IeARjN2vlEY9A2sGLD8xRjVvqHNZhm8FH4+QnSevs/NWiUYjUnyoD8NUX0Ay+wbABP2gHZnsjjjgK8JzjczVUyuDbUeYrlJm/kNkurpIVEE+uwXjEkq9MHUnkCoG7T7tbJfTJpdA939FqTfwCz+AAAAAElFTkSuQmCC');
  width: 20px;
  height: 17.5px;
  background-size: 75%;
  background-repeat: no-repeat;
}
