@font-face {
  font-family: 'DIN Condensed';
  src: url('./DINCond-Bold.eot');
  src: url('./DINCond-Bold.woff2') format('woff2'),
       url('./DINCond-Bold.woff') format('woff'),
       url('./DINCond-Bold.ttf') format('truetype'),
       url('./DINCond-Bold.svg#DINCond-Bold') format('svg'),
       url('./DINCond-Bold.otf') format('opentype'),
       url('./DINCond-Bold.eot?#iefix') format('embedded-opentype');
}

html {
	padding: 0px;
	margin: 0px;
}

#grid-container {


  background-color:#ffffff;

	section {
	  font-family: sans-serif;
	  width: 960px;
	  margin: 0 auto;
	}

	#gameContainer {
		/*height: 460px;
*/		width: 350px;
		margin: 0;
		/*margin-top: 50px;*/
    	background:white;
		display: flex;
		flex-direction: column;
	}

	.gameImage {
		width: 350px;
		height: 320px;
	}

	.overlay {
		background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		position: absolute;
		top: 0px;
		width: 350px;
		z-index: 0;
		height: 320px;

	}

	.pushDown {
		margin-top: 50px;
	}

	#imageContainer {
	  position: absolute;
    margin-top: 100px;
    width: 350px;
    height: 320px;
	}

	#publisherLogo {
	  display: none;
	}
	.resultImage
	{
		width: 350px;
    height: 320px;
	}

	.resultImageDiv {
		position: absolute;
	    width: 100%;
	    height: 100%;
	}
	.gameImageGrid {
		display: flex;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		display: -webkit-flex;
		flex-wrap: wrap;
		width: 355px;
		height: 310px;
		position: absolute;
	}
	.confirmationMessage {
	  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
	  width: 80%;
	  z-index: 6;
	  font-size: 1.5em;
	  letter-spacing: 1px;
	  color: white;
	  text-align: center;
	  position: relative;
      top: 80px;
      left: 0px;
      -webkit-justify-content: center;
      -webkit-align-self: center;
      align-self: center;
      justify-content: center;
	}
	.gameImageGridImageContainer {
		    width: 170px;
    height: 170px;
    position: relative;
    padding: 1px 1px 1px 1px !important;
    z-index: 1;
    overflow: hidden;

	}
	.gameImageGridImage {
		width: 170px;
		padding: 1px 1px 1px 1px !important;
		height: 170px;
		opacity: 1;
		transition: opacity 500ms;
		background-color: white;
		z-index: 9;
	}

	.gameImageGridImageSelectedIcon {
		width: 48px;
		height: 48px;
		position: absolute;
		display: none;
		top: 60px;
		right: 65px;
		z-index: 8;
	}

	.gameImageGridImageOverlay {
		width: 175px;
		height: 170px;
		opacity: 0.85;
		margin: 1.5px 1px 1px 1.5px;
		z-index: 1; /* FF3.6-15 */
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.gameImageGridImageLabel {
		position: absolute;
	    color: white;
	    text-align: center;
	    left: 0px;
	    z-index: 7;
	    font-family: 'DIN Condensed';
	    font-size: 1.25em;
	    margin: 0 auto;
	    width: 175px;
	    bottom: 15px;
	}


	.show {
		display: block;
	}


	.lowOpacity {
		opacity: 0;
	}


	.hidden {
		display: none !important;
	}
	#additionalText {
		font-size: 1em;
		position: absolute;
		font-family: 'playfair';
		z-index: 6;
		top: 210px;
		width: 325px;
		text-align: center;
		left: 15px;
		color: white;
	}


	#callToAction {
		height: 100px;
		font-size: 1.4em;
		width: 100%;
		color: black;
		align-self: center;
		justify-content: center;
		position: relative;
		font-family: 'DIN Condensed';
		top: 10px;
	}

	#nextButton {
	border: 1px solid #F0F0F0;
    height: 40px;
    width: 343px;
    color: #000000;
    background: transparent;
    font-size: 1em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-family: 'DIN Condensed';
    position: absolute;
    top: 450px;
    left: 2px;
    line-height: 30px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    z-index: 10000;
	}

	.shareButtonsContainer {
		  border: none;
	    height: 50px;
	    width: 300px;
	    color: #000000;
  		background: none;
	    font-size: 1em;
	    text-align:center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	    font-family: 'DIN Condensed';
	    position: relative;
	    top: 320px;
	    -webkit-box-flex: 0;
	    -ms-flex: none;
	    flex: none;
	    z-index: 10000;
	}

	.shareButton {
		transform: scale(0.5);
		width: 65px;
		margin-right: -15px;
		cursor: pointer;

	}
	.gameMessage {
	      font-size: 1.25em;
	    color: black;
	    position: absolute;
	    font-family: 'DIN Condensed';
	    bottom: 400px;
	    left: 6px;
	}

	.gameMessageEmailScreen {
    bottom: 410px;
    width: 95%;
	}

	.gameMessageFinalQuestion {
		width: 100%;
	}

	#ctaButton {
		border: 1px solid #F0F0F0;
		height: 50px;
		width: 350px;
		color: #000000;
		background: transparent;
		font-size: 1em;
		justify-content: center;
		align-self: center;
		font-family: 'DIN Condensed';

		position: relative;
		top: 300px;
		flex: none;
	}

	#interactionContainer {
	  display: flex;
	flex-direction: column;
	width: 350px;
	height: 500px;
	position: relative;
	left: 0px;


	}

	.nextButtonActive {
		background: #68B45E !important;
		color: white !important;
	}

	.lowZIndex {
		z-index: -1;
	}

	.gadgetRecommendation {
	   font-family: "DIN Condensed";
    position: absolute;
    font-size: 1.25em;
    color: white;
    text-align: center;
    top: 120px;
    left: 41px;
    font-weight: normal;
    width: 80%;
	}

	#resultMessageText {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    width: 95%;
    display: block;
    z-index: 6;
    font-size: 0.85em;
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
    left: 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

	}
	#emailSubmitForm {
		margin-top: -20px;
    z-index: 10000;
    position: absolute;
    top: 160px;
	}
	#emailFormInput {
  	display: block;
    margin: 0 auto;
  	width: 300px;
  	border: none;
  	height: 50px;
  	margin-top: 10px;
  	font-family: 'DIN Condensed';
  	position: relative;
  	text-align: center;
  	top: 100px;
  	border-bottom: 1px solid white;
  	color: #ffffff;
  	font-size: 1.25em;
  	flex: none;
  	background: rgba(0,0,0,0);

  	-webkit-appearance: none;
		-webkit-border-radius: 0px;

	}

	input[type="text"]{
	   -moz-box-sizing:    border-box;
	   -webkit-box-sizing: border-box;
	    box-sizing:        border-box;
	}

	#emailFormButton {
		width: 300px;
    	display: block;
		margin: 0 auto;
		height: 40px;
		border: 1px solid #F6F6F6;
		background-color: white;
		font-family: 'DIN Condensed';
		font-size: 1.25em;
		position: relative;
		top: 110px;
		line-height: 40px;
		text-align: center;
		align-self: center;
		flex: none;
		appearance: none;
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
	}

	.gameMessageSmallText {
	     font-size: 1.125em;
	    top: -10px;
	}

	.gameMessageMediumText {
		/*top: -50px;*/
	}

  .gameTitle {
        top: 0;
    font-size: 1.5em;
    color: black;
    position: absolute;
    font-family: 'DIN Condensed';
    line-height: 25px;
    padding-bottom: 10px;
    width: 95%;
    left: 5px;
  }


	@media screen and (min-width: 700px) {
	  	#gameContainer {
	      padding-top: 50px;
	      width:670px;
	      height:345px;

	  	}

	    #imageContainer {
	      margin-top: 0px;
	    }

	    #interactionContainer {
	      margin-top: 0px;
	      width: 100%;
	      /*padding: 10px;*/
	      /*border: solid 1px gray;*/
	    }

	    #nextButton {
	      width: 300px;
	      height: 75px;
	      top: inherit;
	      bottom: 0px;
	      right: 0px;
	      font-size: 1.5em;
	      line-height: 75px;
	      margin-left:30px;
	      padding: 0px;
        left: initial;
	    }

	    .gameMessage {
	      right: 0px;
	      padding-left:30px;
	      width: 300px;
	      top: inherit;
	      left: 350px;
	      font-size: 2em;
	      color: #000;
	      font-family: DIN Condensed;
	      top:0px;
	    }

	    .gameTitle {
	      left: 0px;
	      top: -35px;
	      width: 100%;
	    }


	  	.gameMessageEmailScreen {
	      width:100%;
	      top: -35px;
	      font-size: 1.63em;
	      color: black;
	      position: absolute;
	      font-family: 'DIN Condensed';
	      line-height:25px;
	      padding-bottom:10px;
        left: initial;
	  	}

	  	.gadgetRecommendation {
	  		color: #000000;
	  		right: 0px;
	      top: -4px;
	      margin:0px;
	      left: initial;
	      width: 300px;
	  		text-align: left;
	  	}
	    #emailSubmitForm {
	      right: 0px;
	      top: initial;
	      bottom: 33px;
	      position:absolute;
	      width: 300px;
	    }

	  	#resultMessageText {
	  		/*left: 375px;*/
	      margin: 0px;
	      padding: 0px;
	      width:initial;
	      left: initial;
	  		color: black;
	  		text-align: left;
	      top: 0px;
	  	}

	  	#emailFormInput {
	  		/*left: 355px;*/
	      margin-left: 0px;
	  		background: none;
	  		color: black;
	      width: 300px;
	      top: 0;
	  		border-bottom: 1px solid #F0F0F0;
	  	}

	  	#emailFormButton {
	  		right: 0;
	  		height: 50px;
	  		top: 10px;
	      width: 300px;
	      margin-left: 0px;
	  		line-height: 50px;
	  	}

	  	.confirmationMessage {
	  	  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	  	  width: 300px;
	  	  z-index: 6;
	  	  font-size: 1.5em;
	  	  color: black;
	  	  text-align: left;
	  	  position: absolute;
	      top: 138px;
	      left: initial;
	      right: 0;

	  	}
  }
}
