@font-face {
  font-family: 'DIN Condensed';
  src: url('./DINCond-Bold.eot');
  src: url('./DINCond-Bold.woff2') format('woff2'),
       url('./DINCond-Bold.woff') format('woff'),
       url('./DINCond-Bold.ttf') format('truetype'),
       url('./DINCond-Bold.svg#DINCond-Bold') format('svg'),
       url('./DINCond-Bold.otf') format('opentype'),
       url('./DINCond-Bold.eot?#iefix') format('embedded-opentype');
}


#grid-container{	
	

	




	section {
	  font-family: sans-serif;
	  width: 960px;
	  margin: 0 auto;
	}

	#gameContainer {
		/*height: 460px;
		width: 350px;*/
		margin: 0 auto;
		/*margin-top: 50px;*/
    background:white;
		display: flex;
		flex-direction: column;
	}

	.gameImage {
		width: 350px;
		height: 320px;  
	}

	.overlay {
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		position: absolute;
		top: 0px;
		width: 350px;
		z-index: 0;
		height: 300px;

	}

	.pushDown {
		margin-top: 50px;
	}

	#imageContainer {
	  position: absolute;
	  margin-top: 50px;
	  width: 350px;
	  height: 320px;
	}

	#publisherLogo {
	  display: none;
	}
	.resultImage 
	{
		width: 350px;
		height: 300px;
	}
	

	.resultImageDiv {
		position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: -5;
	}
	.gameImageGrid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 355px;
		height: 310px;
		position: absolute;


	}
	.confirmationMessage {
	  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;;
	  width: 80%;
	  z-index: 6;
	  font-size: 1.5em;
	  letter-spacing: 1px;
	  color: white;
	  text-align: center;
	  position: relative;
      top: 30px;
      left: 0px;
      align-self: center;
      justify-content: center;
	}
	.gameImageGridImageContainer {
		width: 175px;
		height: 170px;
		position: relative;
		padding: 1px 1px 1px 1px !important;
		z-index: 1;
		
	}
	.gameImageGridImage {
		width: 175px;
		padding: 1px 1px 1px 1px !important;
		height: 170px;
		opacity: 1;
		transition: opacity 500ms;
		background-color: white;
		z-index: 9;
	}

	.gameImageGridImageSelectedIcon {
		width: 48px;
		height: 48px;
		position: absolute;
		display: none;
		top: 60px;
		right: 65px;
		z-index: 8;
	}

	.gameImageGridImageOverlay {
		width: 175px;
		height: 170px;
		opacity: 0.85;
		margin: 1.5px 1px 1px 1.5px;
		z-index: 1; /* FF3.6-15 */
	background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.gameImageGridImageLabel {
		position: absolute;
	    color: white;
	    text-align: center;
	    left: 0px;
	    z-index: 7;
	    font-family: 'DIN Condensed';
	    font-size: 1.25em;
	    margin: 0 auto;
	    width: 175px;
	    bottom: 15px;
	}


	.show {
		display: block;
	}


	.lowOpacity {
		opacity: 0;
	}


	.hidden {
		display: none !important;
	}
	#additionalText {
		font-size: 1em;
		position: absolute;
		font-family: 'playfair';
		z-index: 6;
		top: 210px;
		width: 325px;
		text-align: center;
		left: 15px;
		color: white;
	}


	#callToAction {
		height: 100px;
		font-size: 1.4em;
		width: 100%;
		color: black;
		align-self: center;
		justify-content: center;
		position: relative;
		font-family: 'DIN Condensed';
		top: 10px;
	}

	#nextButton {
		border: 1px solid #F0F0F0;
		height: 50px;
		width: 350px;
		color: #000000;
		background: transparent;
		font-size: 1em;
		justify-content: center;
		align-self: center;
		font-family: 'DIN Condensed';	
		position: relative;
		top: 405px;
		line-height: 50px;
		flex: none;
		z-index: 10000;
	}

	.shareButtonsContainer {
		border: none;
	    height: 50px;
	    width: 300px;
	    color: #000000;
		background: none;
	    font-size: 1em;
	    text-align:center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	    font-family: 'DIN Condensed';
	    position: relative;
	    top: 270px;
	    -webkit-box-flex: 0;
	    -ms-flex: none;
	    flex: none;
	    z-index: 10000;
	}
	
	.shareButton {
		transform: scale(0.5);
		width: 65px;
		margin-right: -15px;
		cursor: pointer;

	}
	.gameMessage {
	  height: 100px;
	  font-size: 1.25em;
	  width: 75%;
	  color: black;
	  position: relative;
	  font-family: 'DIN Condensed';
	  top: -50px;
	}
	
	.gameMessageEmailScreen {
		top: 15px
	}

	.gameMessageFinalQuestion {
		width: 100%;
	}

	#ctaButton {

		border: 1px solid #F0F0F0;
		height: 50px;
		width: 350px;
		color: #000000;
		background: transparent;
		font-size: 1em;
		justify-content: center;
		align-self: center;
		font-family: 'DIN Condensed';
		
		position: relative;
		top: 280px;
		flex: none;
	}

	#interactionContainer {
	  display: flex;
	flex-direction: column;
	width: 350px;
	height: 400px;
	position: relative;
	left: 0px;


	}
	
	.nextButtonActive {
		background: #68B45E !important;
		color: white !important;
	}

	.lowZIndex {
		z-index: -1;
	}

	.gadgetRecommendation {
	font-family: "DIN Condensed";
    position: absolute;
    font-size: 1.25em;
    color: white;
    text-align: center;
    top: 70px;
    left: 41px;
    font-weight: normal;
    width: 80%;
	}

	#resultMessageText {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    width: 300px;
    display: block;
    z-index: 6;
    font-size: 1.25em;
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
    left: 30px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

	}
	#emailSubmitForm {
		margin-top: -20px;
	    z-index: 10000;
	    position: absolute;
	    top: 70px;
	}
	#emailFormInput {
	display: block;
	margin-left: 9px;
	width: 333px;
	border: none;
	height: 50px;
	margin-top: 10px;
	font-family: 'DIN Condensed';
	position: relative;
	text-align: center;
	top: 100px;
	border-bottom: 1px solid white;
	color: #ffffff;
	font-size: 1.25em;
	flex: none;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
	-webkit-appearance: none;
		-webkit-border-radius: 0px;

	}

	input[type="text"]{
	   -moz-box-sizing:    border-box;
	   -webkit-box-sizing: border-box;
	    box-sizing:        border-box;
	}

	#emailFormButton {
		width: 95%;
		margin-left: 12px;
		height: 40px;
		border: 1px solid #F6F6F6;
		background-color: white;
		font-family: 'DIN Condensed';
		font-size: 1.25em;
		position: relative;
		top: 110px;
		line-height: 40px;
		text-align: center;
		align-self: center;
		flex: none;
		appearance: none;
		-webkit-appearance: none;
		-webkit-border-radius: 0px;
	}

	.gameMessageSmallText {
	     font-size: 1.125em;
	    top: -10px;
	}

	.gameMessageMediumText {
		top: -50px;
	}

	@media (max-height:400px){
		#rating-container {
			transform: scale(0.75);
		}

		section {
			text-align: center;
			margin: 0 auto;
		}

		#gameContainer {
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 0px 0px 0px 0px;
		}
	}

	@media screen and (min-width: 700px) {
	#gameContainer {
		/*width: 768px;*/
		padding-left: 50px;
    padding-bottom: 50px;
	}

	#nextButton {
		left: 350px;
		width: 80%;
		height: 75px;
		top: 318px;
		font-size: 1.5em;
		line-height: 75px;
	}

	#gameMessage {
		left: 390px;
		top: -25px;
		font-size: 2em;
		width: 80%;
	}

	.gameImageGridImageLabel {

	}

	.gameMessageEmailScreen {
		top: 50px !important;
		margin-left: -15px;
	}

	.gadgetRecommendation {
		color: black;
		left: 375px;
		text-align: left;
	}

	#resultMessageText {
		left: 375px;
		color: black;
		text-align: left;
	}

	#emailFormInput {
		left: 355px;
		background: none;
		color: black;
		border-bottom: 1px solid #F0F0F0;
	}

	#emailFormButton {
		left: 355px;
		height: 50px;
		bottom: 5px;
		line-height: 50px;
	}

	.confirmationMessage {
	  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	  width: 85%;
	  z-index: 6;
	  font-size: 1.5em;
	  color: black;
	  text-align: left;
	  position: relative;
      top: 138px;
      left: 350px;
      
	}
}
}

