<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stylepoints - <%= htmlWebpackPlugin.options.name %></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css" >
    #iframe {
      overflow: hidden;
      border: none;
    }
    body {
      background: gray;
    }
  </style>
</head>
<body>
<<<<<<< HEAD
  <iframe id="iframe" src="<%= htmlWebpackPlugin.options.src %>" width="800px" height="476px"/>
=======
  <iframe id="iframe" src="http://localhost:8080" width="800px" height="476px"/>
>>>>>>> 6563b880b796284a19d7d77c18132468a9bf317d
</body>
</html>
