<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stylepoints - <%= htmlWebpackPlugin.options.name %></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <article>
    <div id="binary-container" class="stylepoints-widget"></div>
    <div id="grid-container" class="stylepoints-widget"></div>
    <div id="rating-container" class="stylepoints-widget"></div>
  </article>
</body>
</html>


