<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Stylepoints - <%= htmlWebpackPlugin.options.name %></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <article>
    <div id="<%= htmlWebpackPlugin.options.name %>-container" class="stylepoints-widget"></div>
  </article>

  <script type="text/javascript" src=<%= htmlWebpackPlugin.options.script %>></script>

</body>
</html>
