<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stylepoints - <%= htmlWebpackPlugin.options.name %></title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=blissfuljs"></script>

  <style type="text/css" >
    body {
      margin:0;
      padding:0;
    }
    html {
      margin:0;
      padding:0;
    }
  </style>

</head>
<body>
  <div id="grid-container" class="stylepoints-widget"></div>
</body>
</html>
